# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
Prototype 1 - car/[Ll]ibrary/
Prototype 1 - car/[Tt]emp/
Prototype 1 - car/[Oo]bj/
Prototype 1 - car/[Bb]uild/
Prototype 1 - car/[Bb]uilds/
Prototype 1 - car/[Ll]ogs/
Prototype 1 - car/[Uu]ser[Ss]ettings/
Prototype 2/[Ll]ibrary/
Prototype 2/[Tt]emp/
Prototype 2/[Oo]bj/
Prototype 2/[Bb]uild/
Prototype 2/[Bb]uilds/
Prototype 2/[Ll]ogs/
Prototype 2/[Uu]ser[Ss]ettings/
Prototype-3/[Ll]ibrary/
Prototype-3/[Tt]emp/
Prototype-3/[Oo]bj/
Prototype-3/[Bb]uild/
Prototype-3/[Bb]uilds/
Prototype-3/[Ll]ogs/
Prototype-3/[Uu]ser[Ss]ettings/
Prototype-4/[Ll]ibrary/
Prototype-4/[Tt]emp/
Prototype-4/[Oo]bj/
Prototype-4/[Bb]uild/
Prototype-4/[Bb]uilds/
Prototype-4/[Ll]ogs/
Prototype-4/[Uu]ser[Ss]ettings/
Prototype-5/[Ll]ibrary/
Prototype-5/[Tt]emp/
Prototype-5/[Oo]bj/
Prototype-5/[Bb]uild/
Prototype-5/[Bb]uilds/
Prototype-5/[Ll]ogs/
Prototype-5/[Uu]ser[Ss]ettings/



# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Prototype 1 - car/[Mm]emoryCaptures/
Prototype 2/[Mm]emoryCaptures/
Prototype-3/[Mm]emoryCaptures/
Prototype-4/[Mm]emoryCaptures/
Prototype-5/[Mm]emoryCaptures/

# Recordings can get excessive in size
Prototype 1 - car/[Rr]ecordings/
Prototype 2/[Rr]ecordings/
Prototype-3/[Rr]ecordings/
Prototype-4/[Rr]ecordings/
Prototype-5/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# Prototype 1 - car/[Aa]ssets/AssetStoreTools*
# Prototype 2/[Aa]ssets/AssetStoreTools*
# Prototype-3/[Aa]ssets/AssetStoreTools*
# Prototype-4/[Aa]ssets/AssetStoreTools*
# Prototype-5/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
Prototype 1 - car/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 2/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype-3/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype-4/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype-5/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
Prototype 1 - car/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype 2/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype-3/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype-4/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype-5/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
Prototype 1 - car/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 1 - car/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype 2/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 2/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype-3/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype-3/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype-4/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype-4/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype-5/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype-5/[Aa]ssets/[Ss]treamingAssets/aa/*
